#Check the right way to get the dependencies installed
#pip install google-adk
google-cloud-aiplatform[adk,agent_engines]
Flask
mcp[cli]
google-adk
google-cloud-spanner
python-dateutil
humanize
nest_asyncio
asyncclick
build
google-cloud-vision
a2a_common-0.1.0-py3-none-any.whl
deprecated
